* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: black;
}

/* Font Styles */
.heading-style_h1 {
  color: white;
  font-size: 4rem;
}

/* main styles */
.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-large {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.padding-section-large {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: black;
}

/* Font Styles */
.heading-style_h1 {
  color: white;
  font-size: 4rem;
}

/* main styles */
.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-large {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.padding-section-large {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
